# Copy this file to .env and replace the placeholder values before running the bot.
# Never reveal your real secrets to others

DISCORD_BOT_TOKEN=your-bot-token
GUILD_ID=000000000000000000
TARGET_CATEGORY_ID=000000000000000000
YOUR_CHANNEL_ID=000000000000000000
MACRO_CHECKS_CHANNEL_ID=000000000000000000
AUTHORIZED_USER_ID=407215852937805844
WORMFISHER_ROLE_ID=000000000000000000

# Optional configuration    (you probably shouldnt change that)
MAX_PLAYERS_PER_PARTY=6
MAX_RETRIES=3
RETRY_DELAY=5

SUPPORT_CONTACT=farbensplasch
SUPPORT_CONTACT_MENTION=<@407215852937805844>
